/** @format */

.earth-image svg {
	width: 50vw;
	height: 50vh;
	padding-bottom: 2rem;
}
#leaf {
	transform-origin: center;
	transform-box: fill-box;
}

.blush1,
.blush2 {
	transform-origin: center;
	transform-box: fill-box;
}
