/** @format */

.left-side {
	padding: 5%;
}
.growing_plant {
	display: block;
	overflow: hidden;
	width: 100%;
	color: darkgreen;
}
.growing_plant:before {
	content: " ";
	display: block;
}
.growing_plant img {
	position: absolute;
	top: 0;
	left: 0;
	width: 72%;
	bottom: 0%;
}
@media screen and (max-width: 420px) {
	.growing_plant {
		width: 100%;
	}
	.display-3 {
		font-size: 2.5rem;
	}
	.growing_plant img {
		width: 50%;
	}
}
