/** @format */

.headerSection {
	/* background-image: url("../images/background.svg");
	background-repeat: no-repeat;

	transform: translateY(-10%); */
	width: 100%;
	height: 100%;
}
.background_image {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	display: block;
	transform: translate(1.1%, -20%);
	z-index: -5;
}
