/** @format */

:root {
	--dark-green-ground-color: #5daf5d;
	--light-green-ground-color: #7ac17a;
	--dark-parrat-color: #5d992f;
	--light-parrot-color: #6db032;
	--dark-shadow-green: #aed1ae;
	--light-shadow-green: #c9e2ce;
	--dark-sky-color: #a5d6fa;
}
.nav {
	padding-left: 5em;
	color: var(--dark-parrat-color);
	z-index: 10;
}
.nav a {
	color: var(--dark-parrat-color);
}
.nav a:hover {
	color: darkgreen;
}

.navbar-toggler {
	color: var(--dark-parrat-color);
}
